@model UserManagement.Web.Models.Users.UserFormViewModel

<div asp-validation-summary="All" class="text-danger"></div>

<div class="mb-3">
    <label asp-for="Forename" class="form-label fw-bold"></label>
    <input asp-for="Forename" class="form-control" />
    <span asp-validation-for="Forename" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="Surname" class="form-label fw-bold"></label>
    <input asp-for="Surname" class="form-control" />
    <span asp-validation-for="Surname" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="Email" class="form-label fw-bold"></label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="DateOfBirth" class="form-label fw-bold"></label>
    <input asp-for="DateOfBirth" class="form-control" type="date" />
    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
</div>

<div class="form-check mb-3">
    <input asp-for="IsActive" class="form-check-input" />
    <label asp-for="IsActive" class="form-check-label fw-bold"></label>
</div>




